<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="contact-info mb-4">
          <p><i class="bi bi-telephone"></i> +91 7569964369 | <i class="bi bi-envelope"></i> </p>
        </div>
        <div class="social-links">
          <a href="#" target="_blank"><i class="bi bi-linkedin"></i></a>
          <a href="#" target="_blank"><i class="bi bi-github"></i></a>
          <a href="#" target="_blank"><i class="bi bi-twitter"></i></a>
        </div>
        <div class="copyright">
          <p>&copy; 2024 Chaithanya Kumar K. All Rights Reserved.</p>
        </div>
        
        <div class="privacy-controls mt-3">
          <app-analytics-toggle></app-analytics-toggle>
        </div>
      </div>
    </div>
  </div>
</footer>
